# Configuration file for EditorConfig
# More information is available under http://EditorConfig.org

# Ignore any other files further up in the file system
root = true

# Configuration for all files
[*.{cc,cpp,h,hpp,yaml,cmake}]
# Enforce Unix style line endings (\n only)
end_of_line = lf
charset = utf-8
# Always end files with a blank line
insert_final_newline = true
# Force space characters for indentation
indent_style = space
# Always indent by 2 characters
indent_size = 8
# Remove whitespace characters at the end of line
trim_trailing_whitespace = true
